.sidebar{
    background-color: rgba(0, 0, 0, 0.4);
}

.nav-item:hover{
    /* margin: 0px 5px; */
    border-radius: 5px;
    background-color: #002B2A !important;
    color: white !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.scroll {
    height: calc(100vh - 100px);
    scrollbar-color: #003938 rgba(0, 0, 0, 0);
}